build --copt="-Wall"
build --copt="-Wextra"
#build --copt="-Wshadow"
#build --copt="-Wnon-virtual-dtor"
#build --copt="-Wold-style-cast"
#build --copt="-Wcast-align"
#build --copt="-Wunused"
#build --copt="-Woverloaded-virtual"
#build --copt="-Wpedantic"
#build --copt="-Wconversion"
#build --copt="-Wsign-conversion"
#build --copt="-Wmisleading-indentation"
#build --copt="-Wnull-dereference"
#build --copt="-Wdouble-promotion"
#build --copt="-Wformat=2"